
.video_container {
    position: relative;
    cursor: pointer;
    width: 100%;

    border: 1px #efefef solid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio:16/9;
}
.youtube_spacer {
    margin-bottom:30px;
}
.playbutton {
    background: url('https://cdn.shopify.com/s/files/1/1165/9138/files/youtube_play.png?v=1645826219');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}


@media only screen and (max-width: 1450px) {

    .ytp, .video_container {
        height: 251px;
    }
}
@media only screen and (max-width: 1200px) {

    .ytp, .video_container {
        height: 200px;
    }
}
@media only screen and (max-width: 989px) {

    .ytp, .video_container {
        height: 200px;
    }
}
@media only screen and (max-width: 800px) {

    .ytp, .video_container {
        height: 170px;
    }
}
@media only screen and (max-width: 749px) {

    .ytp, .video_container {
        height: 403px;
    }
}
@media only screen and (max-width: 412px) {

    .ytp, .video_container {
        height: 215px;
    }
}
@media only screen and (max-width: 360px) {

    .ytp, .video_container {
        height: 186px;
    }
}
